
<div class="login-container">
    <div class="card login-card p-4">
      <h4 class="text-center mb-4 text-primary">Admin Login</h4>
      <form (ngSubmit) = "adminlogin()">
        <div class="mb-3">
          <label for="email" class="form-label">Email Id:</label>
          <input type="text" name="email" class="form-control" id="email" [(ngModel)] ="credentials.email"  required>
        </div>
    
        <div class="mb-3">
          <label for="password" class="form-label">Password:</label>
          <input type="password" name="password" class="form-control" id="password" [(ngModel)]="credentials.password"  required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Verify</button>
      </form>
   
    </div>
    <app-alert *ngIf="showAlert" [message]="this.errMsg" [duration]="5000"></app-alert>
    
  </div>
  
  
  