<!-- <app-manager-dashboard></app-manager-dashboard> -->

<div class="login-container">
    <div class="card login-card p-4">
      <h4 class="text-center mb-4 text-primary">Add Service</h4>
      <form [formGroup]="adminAddServiceForm" >

        <div class="mb-3">
            <label for="customerType" class="form-label">Type of Customer:</label>
            <select id="customerType" class="form-control"   name="customerType" formControlName="customerType">
              <option value="ACCOUNT_HOLDER">Account Holder</option>
              <option value="NON_ACCOUNT_HOLDER">Non Account Holder</option>
            </select>
          </div>
    
        <div class="mb-3">
          <label for="serviceName" class="form-label">Service Name</label>
          <input type="text" name="serviceName" class="form-control" id="serviceName" formControlName="serviceName"  required>
        </div>


        <button type="submit" class="btn btn-primary w-100" (click)="addService()">Add Service</button>
      </form>
   
    </div>
  </div>
  
  
  