<nav class="navbar navbar-custom">
  <div class="container1">
    <!-- Left Section: Logo and Bank Name -->

    <!-- Right Section: Navigation Links -->
    <div class="nav-links" *ngIf="!this.authService.isLoggedIn()">
      <a routerLink="/personal">Personal</a>
      <a routerLink="/business">Business</a>
      <a routerLink="/nri">NRI</a>
      <a routerLink="/priority-customer">Priority Customer</a>
      <a routerLink="/customer">Generate Token</a>

    

      <!-- Generate Token Dropdown -->
      <!-- <div class="dropdown"> -->
        <!-- <a class="dropbtn">Generate Token ▼</a> -->
        <!-- <div class="dropdown-content">
          <a routerLink="/account-holder">Account Holder</a>
          <a routerLink="/guest">Non Account Holder</a> -->
          <!-- <form
            [formGroup]="customerTypeForm"
            (ngSubmit)="customerTypeSubmit()"
          >
            <select id="customerType" formControlName="customerType" required>
              <option
                type="Submit"
                value="Account Holder"
                (click)="customerTypeSubmit()"
              >
                Account Holder
              </option>
              <option value="Non Account Holder">Non Account Holder</option>
            </select>
            <button type="submit">Submit</button>
          </form> -->
        <!-- </div> -->
      </div>
    <!-- </div> -->

    <!-- Authentication Links -->
    <div class="auth-links">
      <!-- <a routerLink="/admin-login" *ngIf="!authService.isLoggedIn()">Login</a> -->
    </div>
  </div>
</nav>
