<nav class="navbar navbar-custom">
  <div class="container1">
    <!-- Left Section: Logo and Bank Name -->

    <!-- Right Section: Navigation Links -->
    <div class="nav-links" *ngIf="!this.authService.isLoggedIn()">
      <a routerLink="/personal">Personal</a>
      <a routerLink="/business">Business</a>
      <a routerLink="/nri">NRI</a>
      <a routerLink="/priority-customer">Priority Customer</a>
      <!-- <a routerLink="/customer">Generate Token</a> -->

      <!-- Dropdown for Generate Token -->
      <div class="dropdown">
        <a class="dropbtn" (click)="toggleDropdown()" style="cursor: pointer"
          >Generate Token ▼</a
        >
        <div class="dropdown-content" *ngIf="isDropdownOpen">
          <a (click)="navigateTo('account-holder')" style="cursor: pointer"
            >Account Holder</a
          >
          <a (click)="navigateTo('guest')" style="cursor: pointer"
            >Non Account Holder</a
          >
        </div>
      </div>
    </div>
    <!-- </div> -->

    <!-- Authentication Links -->
    <div class="auth-links">
      <!-- <a routerLink="/admin-login" *ngIf="!authService.isLoggedIn()">Login</a> -->
    </div>
  </div>
</nav>
