<app-homepage-navbar></app-homepage-navbar>
        
		
		<div class="hero-section">
			<div class="hero-content">
			  <h1>We Provide <span>Banking</span> Services That You Can <span>Trust!</span></h1>\
	
			</div>
		  </div>

	
		  <section class="schedule">
			<div class="container">
			  <h3>Latest Offers</h3>
			  <div class="schedule-inner">
				<div class="row">
				  <!-- Fixed Deposit -->
				  <div class="col-lg-4 col-md-6 col-12">
					<div class="single-schedule">
					  <div class="image-container">
						<img src="./assets/fixeddeposit.jpeg" alt="Fixed Deposit">
					  </div>
					  <div class="single-content">
						<h4>Fixed Deposit</h4>
						<p>Limited Period Offer! Best time to Book FD - HURRY!</p>
						<a href="#">LEARN MORE<i class="fa fa-long-arrow-right"></i></a>
					  </div>
					</div>
				  </div>
		  
				  <!-- Personal Loan -->
				  <div class="col-lg-4 col-md-6 col-12">
					<div class="single-schedule">
					  <div class="image-container">
						<img src="./assets/personalloan.jpeg" alt="Personal Loan">
					  </div>
					  <div class="single-content">
						<h4>Personal Loan</h4>
						<p>Get quick funds at Best Interest Rate.</p>
						<a href="#">LEARN MORE<i class="fa fa-long-arrow-right"></i></a>
					  </div>
					</div>
				  </div>
		  
				  <!-- BTMS SKY -->
				  <div class="col-lg-4 col-md-12 col-12">
					<div class="single-schedule">
					  <div class="image-container">
						<img src="./assets/mutualfunds.jpeg" alt="BTMS SKY">
					  </div>
					  <div class="single-content">
						<h4>BTMS SKY</h4>
						<p>Invest in stocks, mutual funds, IPOs, F&O.</p>
						<a href="#">LEARN MORE<i class="fa fa-long-arrow-right"></i></a>
					  </div>
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </section>
		<!--/End Start schedule Area -->

		<!-- Start Feautes -->
		<section class="products-section">
			<div class="container">
			  <h3>Our Popular Products</h3>
			  <div class="row">
				<!-- STAR HOME LOAN -->
				<div class="col-lg-4 col-md-6 col-12">
				  <div class="product-card">
					<div class="image-container">
					  <img src="./assets/homeloan.jpeg" alt="STAR HOME LOAN">
					</div>
					<div class="product-content">
					  <h3>STAR HOME LOAN</h3>
					  <p>ROI 8.1% onwards</p>
					  <p>Provides loan to purchase Plot for construction, renovation, repairing house.</p>
					  <a href="#" class="btn">Learn More</a>
					</div>
				  </div>
				</div>
		  
				<!-- STAR ASSET BACKED LOAN -->
				<div class="col-lg-4 col-md-6 col-12">
				  <div class="product-card">
					<div class="image-container">
					  <img src="./assets/backedloan.jpeg" alt="STAR ASSET BACKED LOAN">
					</div>
					<div class="product-content">
					  <h3>STAR ASSET BACKED LOAN</h3>
					  <p>25% in NFB Commissions</p>
					  <p>Provide working capital for building up of current assets.</p>
					  <a href="#" class="btn">Learn More</a>
					</div>
				  </div>
				</div>
		  
				<!-- GOLD LOAN -->
				<div class="col-lg-4 col-md-12 col-12">
				  <div class="product-card">
					<div class="image-container">
					  <img src="./assets/goldloan.jpeg" alt="GOLD LOAN">
					</div>
					<div class="product-content">
					  <h3>GOLD LOAN</h3>
					  <p>At attractive rate of Interest</p>
					  <p>Gold Loan is the most convenient and easy way to fulfill all your credit needs.</p>
					  <a href="#" class="btn">Learn More</a>
					</div>
				  </div>
				</div>
		  
			  </div>
			</div>
		  </section>
		  
